@page "/"

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col-sm-1">
        <img src="/logo_prefeitura.png" height="50" style="margin-bottom: 10px;" />
    </div>
    <div class="col-sm-9">
        <h1>NF's Emissor</h1>
    </div>
</div>

<br />
<br />
<p>Desenvolvido em parceria com a PMP-Prefeitura Municipal de Parauapebas/PA</p>
<div class="row">
    <div class="col-sm"><img src="/logo_nfsd.png" height="80px" /></div>
    
</div>


