@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject CustomAuthStateProvider AuthProvider
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <p>Olá, @context.User.Identity.Name!</p>
        <button @onclick="Logout">Sair</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Logout()
    {
        await AuthProvider.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}
